.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3A4895;
    height: 40px;
    padding: 25px;
    margin-top: 20px;
    
}

.icon-container {
    position: relative;
}

.icon-container p{
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    bottom: 24px;
    right: 6px;
    padding: 4px;
}

.cart-icon {
    font-size: 2.3em;
}

.logo{
    text-decoration: none;
}

















